<!DOCTYPE html>
<html>
	<head>
		<title>Tripody</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	    <script src="scripts/tripody.js"></script>
		<script>localStorage.clear();</script>
	</head>
	<body>
		<h3>Welcome to Tripody. Enter a city name!</h3>
		<div class="form-group">
			<div class="col-xs-8">
    		<input id="search-input" type="text" class="form-control search-term" name="searchInput">
			</div>
			<a id="search-link" href="#" class="btn btn-default search-button">search</a>
		</div>
	</body>
</html>
